/*color*/

$primary: #86c878;
$casual: #78c8c0;
$winter: #78a1c8;
$bg-primary: #191c19;

/* fonts*/

$primary-font: "Montserrat";
$secondary-font: "Raleway";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $primary-font, sans-serif;
}
input,
button,
textarea,
select,
option {
  outline: none;
}
a {
  text-decoration: none;
  color: white;
}

/* utilities*/

.center {
  margin: 0 auto;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.header {
  max-width: 1400px;
  margin: 0 auto;
}
.text {
  font-family: "Raleway";
  letter-spacing: 1px;
}

.title {
  font-size: 45px;
  margin: 30px 0;
  &-2 {
    margin: 30px 0 20px;
    font-size: 28px;
    font-weight: 500;
  }
  &-3 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
  }
}

.hero {
  color: white;
  &-bg {
    background-color: $bg-primary;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
  }
  &-content {
    margin: 0 30px;
    background-image: url(../assets/img/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  &-title {
    font-size: 72px;
    font-weight: 700;
  }
  &-subtitle {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
  }
  &-btn {
    transition: all ease-in-out 0.3s;
    color: white;
    text-transform: uppercase;
    margin-top: 60px;
    padding: 25px;
    background-color: $primary;
    border: none;
    border-radius: 50px;
    width: 200px;
    &:hover {
      transition: all ease-in-out 0.3s;
      background-color: white;
      color: #000000;
    }
  }
}

.topBar {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  &-img {
    margin-top: -10px;
    width: 100px;
    height: 100px;
  }

  &-text {
    white-space: nowrap;
    font-size: 32px;
    font-weight: 700;
  }
}
.nav {
  &-list {
    display: flex;
    list-style: none;
  }
  &-item {
    padding: 10px;
  }
}

.dropdown {
  &-toggle {
    display: flex;
    flex-direction: row;
  }
  &-toggle:hover {
    transition: all ease-in-out 0.3s;
    background: $primary;
    .dropdown-menu {
      margin-left: -10px;
      position: absolute;
      top: 60px;

      display: flex;
      flex-direction: column;
    }
    .dropdown-menu-item {
      padding: 10px;
      background-color: $bg-primary;

      &:hover {
        transition: all ease-in-out 0.3s;
        background-color: $primary;
      }
    }
  }

  &-menu {
    display: none;
  }
  &-arrow {
    margin-left: 5px;
  }
}

.main {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.side-nav {
  margin: 50px 50px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  &-item {
    width: 220px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px;
    color: #000000;
    border-bottom: 1px solid lightgray;
  }
}
.aboutUs {
  max-width: 1000px;
  border-left: lightgray 1px solid;
  padding-left: 50px;
  &-title {
    border-bottom: 1px solid lightgray;
    margin-top: 55px;
  }
  &-subtitle {
    font-size: 35px;
    margin: 40px 0 20px;
  }

  &-ourShoes {
    margin-top: 50px;
  }
}
.img-wrapper {
  margin-top: 30px;
}
.quote {
  margin-top: 50px;
  border-top: solid $primary 1px;
  border-bottom: $primary solid 1px;
  display: flex;
  flex-flow: column;
  align-items: center;
  &-text {
    margin: 20px 30px;
  }
  i {
    margin-top: 20px;
  }
}
.present {
  &-list {
    list-style: decimal;
    list-style-position: inside;

    &-item {
      margin-bottom: 5px;
    }
  }
}
.future-list {
  margin-top: 30px;
  list-style-position: inside;
  &-item {
    margin-bottom: 5px;
  }
}
.video {
  margin-top: 30px;
  width: 100%;

  &-frame {
    width: 100%;
    height: 400px;
  }
}
.table {
  margin-top: 50px;
  width: 100%;

  tr {
    th:first-child {
      text-align: center;
      width: 150px;
    }
    td:first-child {
      text-align: center;
      width: 150px;
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    height: 50px;
    color: #080407;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    &-black {
      background-color: #000000;
      color: #ffffff;
    }
    &-grey {
      background-color: lightgrey;
    }
    &-center {
      margin: 0 auto;
    }
  }
}
.question {
  border-top: 1px solid lightgrey;
  margin-bottom: 50px;

  &:last-child {
    padding-bottom: 50px;
    border-bottom: 1px solid lightgrey;
  }
}
.footer {
  height: 350px;
  background-color: $bg-primary;
  padding-bottom: 30px;

  &-content {
    display: flex;
    margin: 0 100px;
    max-width: 1200px;
  }

  &-social {
    margin-right: 10px;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -9999999px;
  }

  &-bar {
    display: flex;
    &-copy {
      padding-left: 30px;
      color: white;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.facebook {
  background-image: url(../assets/img/icon-fb-white.svg);
}
.linkin {
  background-image: url(../assets/img/icon-in-white.svg);
}
.twitter {
  background-image: url(../assets/img/icon-twitter-white.svg);
}
.col {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  &-title {
    font-size: 25px;
    padding: 30px 0;
    color: $primary;
  }
  a {
    font-size: 15px;
    padding: 5px;
  }
}
.hr {
  border: 1px solid #303430;
}
.main-product {
  margin: 0 auto;
  max-width: 1400px;
}
.shoes-nav {
  display: flex;
  width: 300px;
  margin: 30px auto;

  &-item {
    border: 1px solid lightgray;
    padding: 20px;

    &:first-child {
      border-radius: 20px 0 0 20px;
    }

    &:last-child {
      border-radius: 0 20px 20px 0;
    }
    a {
      color: black;
    }
  }
}
.product {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px lightgray solid;
    margin-bottom: 5px;
  }
}
.label {
  background-color: $primary;
  padding: 20px 20px 30px 20px;
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &-title {
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
  }
  &-text {
    margin-bottom: 20px;
  }
}
.sport {
  background-color: $primary;
}
.winter {
  background-color: $winter;
}
.casual {
  background-color: $casual;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 310px;
  margin: 20px;
  &-img {
    width: 300px;
    height: 210px;
  }
  &-desc {
    font-size: 25px;
    margin: 20px;
  }
  &-price {
    font-size: 22px;
    font-weight: 700;
    color: $primary;
  }
}
.main-contact {
  justify-content: center;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}
.contact-article {
  width: 100%;
  margin-top: 80px;
}
.contact-aside {
  font-size: 20px;
}
.open-hours-wrapper {
  margin: 40px 0 50px;
}
.section-form {
}
.contact-form {
  max-width: 700px;
}
.form-wrapper {
}
.form-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  &-label {
    min-width: 200px;
    font-size: 20px;
  }
  &-input {
    padding: 10px;
    width: 300px;
  }
}
