/*color*/

$primary: rgb(76, 91, 172);

/* fonts*/

$primary-font: "Montserrat";
$secondary-font: "Raleway";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $primary-font, sans-serif;
}
input,
button,
textarea,
select,
option {
  outline: none;
}
a {
  text-decoration: none;
  color: white;
}

/* utilities*/

.center {
  margin: 0 auto;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.header {
  max-width: 1400px;
  margin: 0 auto;
}

.hero {
  color: white;
  &-bg {
    background-color: #191c19;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
  }
  &-content {
    margin: 0 30px;
    background-image: url(../assets/img/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  &-title {
    font-size: 72px;
    font-weight: 700;
  }
  &-subtitle {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
  }
  &-btn {
    transition: all ease-in-out 0.3s;
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 15px;
    background-color: $primary;
    border: none;
    border-radius: 50px;
    width: 200px;
    &:hover {
      transition: all ease-in-out 0.3s;
      background-color: white;
      color: #000000;
    }
  }
}

.topBar {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  &-img {
    margin-top: -10px;
    width: 100px;
    height: 100px;
  }

  &-text {
    font-size: 32px;
    font-weight: 700;
  }
}
.nav {
  &-list {
    display: flex;
    list-style: none;
  }
  &-item {
    padding: 10px;
  }
}

.dropdown {
  &-toggle {
    display: flex;
    flex-direction: row;
  }
  &-toggle:hover {
    transition: all ease-in-out 0.3s;
    background: $primary;
    .dropdown-menu {
      margin-left: -10px;
      position: absolute;
      top: 60px;

      display: flex;
      flex-direction: column;
    }
    .dropdown-menu-item {
      padding: 10px;

      &:hover {
        transition: all ease-in-out 0.3s;
        background-color: $primary;
      }
    }
  }
  &-menu {
    display: none;
  }
  &-arrow {
    margin-left: 5px;
  }
}

.main {
  margin-top: 500px;
}
