/*color*/
/* fonts*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

input,
button,
textarea,
select,
option {
  outline: none;
}

a {
  text-decoration: none;
  color: white;
}

/* utilities*/
.center {
  margin: 0 auto;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header {
  max-width: 1400px;
  margin: 0 auto;
}

.hero {
  color: white;
}

.hero-bg {
  background-color: #191c19;
  height: 600px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}

.hero-content {
  margin: 0 30px;
  background-image: url(../assets/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero-title {
  font-size: 72px;
  font-weight: 700;
}

.hero-subtitle {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
}

.hero-btn {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: white;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 15px;
  background-color: #4c5bac;
  border: none;
  border-radius: 50px;
  width: 200px;
}

.hero-btn:hover {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: white;
  color: #000000;
}

.topBar {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-img {
  margin-top: -10px;
  width: 100px;
  height: 100px;
}

.logo-text {
  font-size: 32px;
  font-weight: 700;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 10px;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dropdown-toggle:hover {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background: #4c5bac;
}

.dropdown-toggle:hover .dropdown-menu {
  margin-left: -10px;
  position: absolute;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-toggle:hover .dropdown-menu-item {
  padding: 10px;
}

.dropdown-toggle:hover .dropdown-menu-item:hover {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: #4c5bac;
}

.dropdown-menu {
  display: none;
}

.dropdown-arrow {
  margin-left: 5px;
}

.main {
  margin-top: 500px;
}
/*# sourceMappingURL=style.css.map */